<ion-modal-view>
            <ion-header-bar class="header">
                <h1 class="title">New</h1>
                <button class="button button-clear header-icon" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div>
                    <p ng-repeat="warn in warnings">{{warn}}</p>
                    <p>Estimated Price (satoshis): {{priceData.total_estimated_cost.satoshis}}</p>
                    <p>Estimated Price (btc): {{priceData.total_estimated_cost.btc}}</p>
                </div>              
                <div class="list">       
                    <div class="item item-divider" style="text-align:center;">
                        Project
                    </div>  
                     <label class="item item-input">
                        <span class="input-label">ID</span>
                        <input readonly="" ng-model="id" type="text">
                    </label>           
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Type
                        </div>
                        <select ng-model="newProject.type">
                            <option>Contract</option>
                            <option>Permanent</option>                            
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Category
                        </div>
                        <select ng-model="newProject.category">
                            <option>Agricultural</option>
                            <option>Commercial</option>
                            <option>Educational</option>
                            <option>Financial</option>
                            <option>HealthCare</option>
                            <option>Infrastructural</option>
                            <option>Universal</option>
                            <option>Other</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Title</span>
                        <input ng-model="newProject.title" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Detail</span>
                        <textarea ng-model="newProject.detail" rows="3"></textarea>
                    </label>
                </div>
                
                <div class="list">
                    <div class="item item-divider" style="text-align:center;">
                        Bitcoin
                    </div>             
                    <label class="item item-input">
                        <span class="input-label">Address</span>
                        <input ng-model="newProject.address" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Goal</span>
                        <input ng-model="newProject.goal    " type="text">
                    </label>
                </div>
                
                <div class="list">
                    <div class="item item-divider" style="text-align:center;">
                        Coordinates
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Latitude</span>
                        <input ng-model="newProject.latitude" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Longitude</span>
                        <input ng-model="newProject.longitude" type="text">
                    </label>
                </div>
                
                <div class="list">
                    <div class="item item-divider" style="text-align:center;">
                        Image
                    </div>
                    <label class="item item-input">
                        <button class="button button-assertive" ng-click="takePhoto()">Take Picture</button>
                        <img ng-show="imgURI" ng-src="{{imgURI}}" alt="Not render" style="height: 50px; width: 50%; padding: 3px 40px 3px 20px;">
                    </label>
                    
                </div>                
                <div class="list">
                    <div class="item item-divider" style="text-align:center;">
                        Contacts
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Phone</span>
                        <input ng-model="newProject.phone"type="tel">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input ng-model="newProject.email" type="email">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Website</span>
                        <input ng-model="newProject.website" type="text">
                    </label>
                    <button class="button button-full" ng-click="saveProject(newProject)">Save</button>
                </div>
            </ion-content>
        </ion-modal-view>