<ion-view view-title="Account" class="">
  <ion-nav-buttons side="left">
        <button class="button icon button-clear ion-location header-icon" ng-click="openModal(1)"></button>
    </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon button-clear ion-settings header-icon" ng-click="openModal(2)"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
  <div class="card">
    <div class="row">
      <div class="col col-10">
        &nbsp;
      </div>
      <div class="col col-80">
        <div style="width:100%" align="center">
          <a href="bitcoin:{{deposit.address}}"><qrcode data="{{deposit.address}}" size="200"></qrcode></a>
        </div>
      </div>
      <div class="col col-10">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="card">
    <div class="item item-text-wrap">
       Deposit: {{deposit.address}}
    </div>
  </div>
  <div class="card">
    <div class="item item-text-wrap">
       Balance: {{balance.total_balance.bitcoin}} (BTC)
    </div>
  </div>
  
  <ion-list>
      <ion-item class="item item-divider">Owned Projects</ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="project in owned.names_owned" type="item-text-wrap" href="#/tab/account-project/{{project}}">
        <qrcode data="{{project}}" size="50"></qrcode>
        <h2>{{project}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(project)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>  

</ion-view>
