<ion-view view-title="Account" class="">
  <ion-nav-buttons side="left">
        <button class="button icon button-clear ion-location header-icon" ng-click="openModal(1)"></button>
    </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon button-clear ion-settings header-icon" ng-click="openModal(2)"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
  <div class="card">
    <div class="row">
      <div class="col col-80">
        <div>
          <qrcode data="{{deposit.address}}" size="200"></qrcode>
        </div>
      </div>
      <div class="col col-10">
        &nbsp;
      </div>
      <div class="col col-10">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="card">
    <div class="item item-text-wrap">
       Deposit: {{deposit.address}}
    </div>
  </div>
  <div class="card">
    <div class="item item-text-wrap">
       Balance: {{balance.total_balance.bitcoin}} (BTC)
    </div>
  </div>
  <!-- <button class="button button-block button-assertive" ng-show="!userAuth.isAuthenticate()" ng-click="logout()">
    Sign Out
  </button> -->

  </ion-content>  

</ion-view>
